@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center">
    <h1>Solkalklatorn</h1>
    <p class="lead">The solar calculator is a tool for visualizing how much solen is produced in Jönköping County. Click on your municipality to see how much sunshine you produce and click below to see who's the best! </p>
    <p><a href="http://www.solkalkylator.se/" class="btn btn-primary btn-lg">Visit Here</a></p>
</div>


