
    <div class="container">
        <h4 class="display-4">Manage Values</h4>
        <ul class="nav flex-column">
            <li class="nav-item">
                @Html.ActionLink("Municipality Power Organisation", "Index", "InstalledPowerMunicipality")
            </li>
            <li class="nav-item">
                @Html.ActionLink("Organaisation Power Organisation", "Index", "InstalledPowerOrganisation")
            </li>
        </ul>
    </div>

